.portfolio{
    display: grid;
    gap: 20px;
}

.portfolio > .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.portfolio > .projects > .project{
    display: grid;
    gap: 10px;
    align-content: baseline;
}

.portfolio > .projects > .project > .image{
    position: relative;
    height: 150px;
    background-color: rgba(0,0,0,.4);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    box-shadow: var(--iframe-shadow);
    cursor: pointer;
    overflow: hidden;
}

.portfolio > .projects > .project > .image::before{
    content: attr(data-type);
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 2px 10px;
    background-color: var(--cerulean-crayola);
    text-shadow: var(--type-text-shadow);
    box-shadow: var(--type-shadow);
    text-transform: capitalize;
    font-size: 0.8em;
    border-radius: 10px 0px 0px 10px;
    z-index: 2;
}

.portfolio > .projects > .project > .image[data-lazy-load]::after{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    background-color: var(--purple-navy);
    animation: lazy-load 1s ease-in-out infinite;
}

.portfolio > .projects > .project > .title{
    width: max-content;
    padding: 2px 12px;
    background-color: var(--cerulean-crayola);
    text-shadow: var(--type-text-shadow);
    box-shadow: var(--type-shadow);
    text-transform: capitalize;
    font-size: 1.2em;
    border-radius: 10px;
}

.portfolio > .projects > .project > .description{
    text-shadow: var(--p-shadow-black);
}

/* Responsive */
@media (max-width: 960px) {
    
    .portfolio > .projects{
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 660px) {
    
    .portfolio > .projects{
        grid-template-columns: 1fr;
    }

    .portfolio > .projects > .project > .title{
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

}

/* Animations */
@keyframes lazy-load{
    0%{
        opacity: 0;
    }
    20%{
        opacity: .4;
    }
    80%{
        opacity: .4;
    }
    100%{
        opacity: 0;
    }

}