/* Similar font */
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

:root{
    --gray: #C8C8C8;
    --gray-2: #444444;
    --gray-3: #a5a5a5;
    --gray-4: #3a3a3a;
    --gray-5: #73787c;
    --button-y: #0f7136;
    --button-x: #072170;
    --button-b: #f0ba39;
    --button-a: #c9241e;
}

/* Snes */
kcjoystick[data-skin|=snes]{
    display: flex;
    position: fixed;
    top: calc( 50% - 150px );
    left: 0px;
    width: 301px;
    height: 300px;
    font-family: 'Helvetica', sans-serif;
    transform: translate(-301px,0px);
    transition: transform 0.4s 0.1s ease-in-out;
}

kcjoystick[data-skin|=snes].show{
    transform: translate(0px,0px);
}

kcjoystick[data-skin|=snes] > .back{
    position: absolute;
    top: 28px;
    width: 240px;
    height: 211px;
    border-radius: 0px 73px 74px 0px;
    background-color: var(--gray);
    box-shadow: 0px 10px 10px rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(0,0,0,.6);
}

kcjoystick[data-skin|=snes] > .front{
    position: absolute;
    top: 28px;
    left: 54px;
    width: 240px;
    height: 240px;
    border-radius: 211px;
    background-color: var(--gray);
    box-shadow: 5px 10px 10px rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(0,0,0,.6);
    border-left: 0px solid transparent;
    border-right: 1px solid rgba(0,0,0,.6);
}

kcjoystick[data-skin|=snes] > .patch{
    position: absolute;
    top: 28px;
    width: 95px;
    height: 211px;
    background-color: var(--gray);
    color: var(--gray-2);
    font-weight: 600;
    font-style: italic;
}

kcjoystick[data-skin|=snes] > .patch > [n]::before{
    display: flex;
    content: 'NTENDO';
    position: absolute;
    top: 15px;
    left: -12px;
    font-size: 32px;
    font-family: 'Teko', sans-serif;
}

kcjoystick[data-skin|=snes] > .patch > [s]::before{
    display: flex;
    content: 'ENT SYSTEM';
    position: absolute;
    top: 50px;
    left: -6px;
    font-size: 8px;
    background-color: var(--gray-2);
    color: var(--gray);
    line-height: 8px;
    padding: 4px 1px 3px 0px;
    letter-spacing: 4px;
    font-family: 'Teko', sans-serif;
}

kcjoystick[data-skin|=snes] > .patch > [st]{
    position: absolute;
    bottom: 62px;
    left: -13px;
    width: 45px;
    height: 18px;
    border-radius: 40px;
    margin-left: 5px;
    color: var(--gray-4);
    background-color: var(--gray-4);
    font-weight: 600;
    box-shadow: -4px 0px 2px rgba(0,0,0,.2);
    border-left: 2px solid rgba(0,0,0,.2);
    border-right: 2px solid rgba(255,255,255,.2);
    transform: rotate(-40deg);
    font-family: 'Helvetica', sans-serif;
}

kcjoystick[data-skin|=snes] > .patch > [st]::before{
    position: absolute;
    content: 'START';
    transform: rotate(40deg);
    font-size: 10px;
    letter-spacing: 2px;
    top: 20px;
    left: -20px;
}

kcjoystick[data-skin|=snes] > .right{
    position: absolute;
    top: 23px;
    left: 115px;
    width: 75px;
    height: 5px;
    background-color: var(--gray-3);
    border-radius: 5px 2px 0px 0px;
}

kcjoystick[data-skin|=snes] > .right.d{
    position: absolute;
    top: 23px;
    left: 151px;
    width: 75px;
    height: 59px;
    background-color: var(--gray-3);
    border-radius: 37px 37px 0px 0px;
}

kcjoystick[data-skin|=snes] > .circle{
    position: absolute;
    top: 28px;
    left: 54px;
    width: 240px;
    height: 240px;
    border-radius: 211px;
    background-color: var(--gray-5);
    transform: scale(.9);
    border: 1px solid rgba(0,0,0,.1);
}

kcjoystick[data-skin|=snes] > .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 99px;
    left: 91px;
    width: 120px;
    height: 50px;
    border-radius: 61px;
    background-color: var(--gray);
    transform: rotate(-40deg);
}

kcjoystick[data-skin|=snes] > .buttons.down{
    top: 149px;
    left: 141px;
}

kcjoystick[data-skin|=snes] > .buttons::before{
    position: absolute;
    content: 'Y';
    display: flex;
    transform: rotate(40deg) translate(-14px,15px);
    color: var(--gray);
    font-weight: 600;
}

kcjoystick[data-skin|=snes] > .buttons.down::before{
    content: 'B';
}


kcjoystick[data-skin|=snes] > .buttons::after{
    position: absolute;
    content: 'X';
    display: flex;
    transform: rotate(40deg) translate(101px,-83px);
    color: var(--gray);
    font-weight: 600;
}

kcjoystick[data-skin|=snes] > .buttons.down::after{
    content: 'A';
}

kcjoystick[data-skin|=snes] > .buttons > div{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 5px;
    box-shadow: -4px 0px 2px rgba(0,0,0,.2);
    border-left: 2px solid rgba(0,0,0,.2);
    border-right: 2px solid rgba(255,255,255,.2);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

kcjoystick[data-skin|=snes] > .buttons > div[clicked]{
    -webkit-animation: snes-joystick-clicked 0.4s 1;
    animation: snes-joystick-clicked 0.4s 1;
}

kcjoystick[data-skin|=snes] > .buttons > div:nth-child(2){
    margin-left: 0px;
    margin-right: 5px;
}

kcjoystick[data-skin|=snes] > .buttons > div[a], kcjoystick[data-skin|=snes] > .buttons > div[b], kcjoystick[data-skin|=snes] > .buttons > div[x], kcjoystick[data-skin|=snes] > .buttons > div[y]{
    cursor: pointer;
    box-sizing: border-box;
}

kcjoystick[data-skin|=snes] > .buttons > div[y]{
    background-color: var(--button-y);
}

kcjoystick[data-skin|=snes] > .buttons > div[x]{
    background-color: var(--button-x);
}

kcjoystick[data-skin|=snes] > .buttons > div[b]{
    background-color: var(--button-b);
}

kcjoystick[data-skin|=snes] > .buttons > div[a]{
    background-color: var(--button-a);
}   

/* Safari 4.0 - 8.0 */
@-webkit-keyframes snes-joystick-clicked{
    0%{
        border-left: 2px solid rgba(0,0,0,.2);
        border-right: 2px solid rgba(255,255,255,.2);
        box-shadow: -4px 0px 2px rgba(0,0,0,.2);
    }
    50%{
        border-left-width: 0px;
        border-right-width: 0px;
        box-shadow: none;
    }
    100%{
        border-left: 2px solid rgba(0,0,0,.2);
        border-right: 2px solid rgba(255,255,255,.2);
        box-shadow: -4px 0px 2px rgba(0,0,0,.2);
    }
}

/* Standard syntax */
@keyframes snes-joystick-clicked{
    0%{
        border-left: 2px solid rgba(0,0,0,.2);
        border-right: 2px solid rgba(255,255,255,.2);
        box-shadow: -4px 0px 2px rgba(0,0,0,.2);
    }
    50%{
        border-left-width: 0px;
        border-right-width: 0px;
        box-shadow: none;
    }
    100%{
        border-left: 2px solid rgba(0,0,0,.2);
        border-right: 2px solid rgba(255,255,255,.2);
        box-shadow: -4px 0px 2px rgba(0,0,0,.2);
    }
}